name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:

    - name: Checkout Code
      uses: actions/checkout@v4

    # Convert repo name to lowercase (IMPORTANT FIX)
    - name: Set lowercase repo name
      run: echo "IMAGE_NAME=ghcr.io/${GITHUB_REPOSITORY,,}/my-k8s-app" >> $GITHUB_ENV

    - name: Set Image Tag
      run: echo "IMAGE_TAG=${{ github.sha }}" >> $GITHUB_ENV

    - name: Login to GHCR
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Build Docker Image
      run: |
        docker build -t $IMAGE_NAME:$IMAGE_TAG .
        docker tag $IMAGE_NAME:$IMAGE_TAG $IMAGE_NAME:latest

    - name: Push Image
      run: |
        docker push $IMAGE_NAME:$IMAGE_TAG
        docker push $IMAGE_NAME:latest

    - name: Install kubectl
      uses: azure/setup-kubectl@v3

    - name: Setup Kubeconfig
      run: |
        echo "${{ secrets.KUBE_CONFIG_DATA }}" > kubeconfig

    - name: Apply Deployment
      run: |
        kubectl apply -f k8s/deployment.yaml --kubeconfig=kubeconfig

    - name: Update Image
      run: |
        kubectl set image deployment/flask-deployment flask-container=$IMAGE_NAME:$IMAGE_TAG --kubeconfig=kubeconfig

    - name: Verify Rollout
      run: |
        kubectl rollout status deployment/flask-deployment --kubeconfig=kubeconfig
